<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>SecureVision AI</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<div class="sidebar">

<h2>🛡 SecureVision</h2>

<ul>

<li><a href="/" class="menu-link">📊 Dashboard</a></li>

<li><a href="/history" class="menu-link">🕒 History</a></li>

<li><a href="#" class="menu-link">📄 Logs</a></li>

<li><a href="#" class="menu-link">🚨 Alerts</a></li>

<li><a href="#" class="menu-link">📈 Analytics</a></li>

<li><a href="#" class="menu-link">🌐 Threat Intel</a></li>

<li><a href="#" class="menu-link">⚙ Settings</a></li>

</ul>

<div class="sidebar-footer">

<p>Version 1.0</p>

</div>

</div>

<div class="main">

<div class="topbar">

<h1>Security Operations Center</h1>

<div class="top-right">

<div class="notification">

🔔 {{ critical }}

</div>

<div class="user">

👤 {{ session.get("user","Guest") }}

</div>

<a href="{{ url_for('logout') }}" class="logout-btn">

🚪 Logout

</a>

</div>

</div>

{% block content %}

{% endblock %}

</div>

</body>

</html>